body {
  @include font-family(raleway);
  @include font-size(regular);
  @include font-weight(regular);
  background-color: color(primary);
  line-height: normal;
  letter-spacing: normal;
  color: color(white);
}
