/* icomoon @font-face kit */
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.woff') format('woff'),
    url('../../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon/icomoon.svg') format('svg');
}
