.button {
  @include font-weight(semi-bold);
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid color(green);
  padding: 0.8rem 3.1rem;
  background-color: color(green);
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 2px;
  color: color(white);
  transition: color 0.3s;
  transition-property: border-color, background-color;

  &:active,
  &:focus {
    outline: 0;
  }

  &:hover {
    border-color: darken($color: color(green), $amount: 20);
    background-color: darken($color: color(green), $amount: 20);
  }
}
