.nav {
  width: 100%;
  height: 100%;
  min-height: 90px;
  background: rgba(255, 255, 255, 0.05) !important;

  &-item {
    margin: 0 0.8rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    @include font-weight(medium);
    color: color(white) !important;
    transition: color 0.3s ease;

    &.active {
      color: color(secondary) !important;
    }

    &:hover {
      color: color(secondary) !important;
    }
  }

  .navbar-brand {
    width: 170px;
  }

  .navbar-toggler {
    border: 0;
  }
}
